section {
    display: grid;
    grid-template: repeat(3, 200px) / 1fr 2fr 1fr;
    align-items: center;
    gap: 20px;
    grid-auto-flow: column;
}

section > img {
    width: 200px;
}

section > #principal {
    grid-area: 1 / 2 / -1 / -2;
    width: 80%;
}