@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap');

:root {
    --cor1: #FAD21E;
    --cor2: #FA9C1E;
    --cor3: #FAB71E;
    --cor4: #e4cf73;
    --cor5: #708b00;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-rows: 100px 800px 50px;
    background-color: rgb(220, 220, 220);
}

header {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    font-family: "Playwrite GB J", cursive;
    background-image: linear-gradient(to top, var(--cor1), var(--cor2));
    padding: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.308);
}

header > h1 {
    margin-right: 20px;
}

header > p {
    margin-left: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--cor2);
    cursor: pointer;
    transition: transform .5s ease-in;
}

header > p > a {
    display: none;
    color: black;
    text-decoration: none;
    margin-top: 20px;
}

header > input {
    flex: auto;
    height: 50px;
    border-radius: 10px;
    background-color: var(--cor1);
}

main h2 {
    margin: 10px;
}

main h3 {
    margin: 5px;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: var(--cor4);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
}

img {
    width: 200px;
    border-radius: 20px;
    transition: all .5s ease-in-out;
}

img:hover {
    width: 220px;
    border: 3px solid var(--cor5);
}

footer {
    text-align: center;
    background-color: var(--cor2);
    padding: 20px;
}

footer > p {
    font-family: cursive;
}